* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  background: linear-gradient(
      rgba(255, 255, 255, 0.289),
      rgba(255, 255, 255, 0.216)
    ),
    url(Images/young-black-boys-playing-their-n.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Rubik', sans-serif; */

#login {
  display: grid;
  justify-content: center;
  align-content: center;
  padding-top: 6rem;
}

.welcome-user-msg {
  width: 100%;
  padding: 0;
  margin: 0;
}

.welcome-user-msg .greetings {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.information {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: 1px;
}

.pin {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 20px);
  justify-content: center;
  margin-top: 2em;
}

.pin input {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border-width: 0;
  cursor: pointer;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.384);
}

.pin input:hover {
  background: rgba(0, 0, 0, 0.384);
}

.pin input:visited {
  border-color: transparent;
  border-width: 0;
  background: rgba(0, 0, 0, 0.384);
}

.clicked {
  background: rgba(0, 0, 0, 0.384);
}

.checked {
  background: #4d5765;
}

.reset-password {
  width: 100%;
  display: grid;
  justify-content: center;
  margin-top: 0.5em;
}

.reset-password a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: rgb(71, 21, 117);
  text-decoration: none;
  cursor: pointer !important;
  letter-spacing: 1px;
}

.face-verification {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin-top: 2em;
}

.face-verification a {
  text-decoration: none;
  cursor: pointer !important;
}

.face-verification .fa-id-badge {
  color: rgb(71, 21, 117);
  font-size: 20px;
}

.face-verification span {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.wrong-account-msg {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  margin-top: 1.5em;
  font-family: "Poppins", sans-serif;
}

.wrong-account-msg a {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  cursor: pointer !important;
  letter-spacing: 2px;
}

.wrong-account-msg .log-out {
  color: rgb(71, 21, 117);

  text-decoration: none;
  cursor: pointer;
}

.pin-digits {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 10px;
  margin-top: 1em;
}

.pin-digits input {
  width: 50px;
  height: 50px;
  border: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.pin-digit {
  width: 50px;
  height: 50px;
  border: transparent;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  border-radius: 100%;
}

.pin-digits input[value="0"] {
  grid-column: 2/3;
}

.fa-times {
  grid-column: 3/-1;
  width: 20%;
  overflow: hidden;
  font-size: 15px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.384);
  border-top-left-radius: 1500px;
  border-bottom-left-radius: 1500px;
  transition: 300ms ease-in-out;
  font-size: 18px;
}

.fa-times:hover {
  color: rgba(255, 255, 255, 0.863);
  cursor: pointer !important;
  box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.363);
}

@media (max-width: 1000px) {
  #login {
    display: grid;
    justify-content: center;
    align-content: center;
    padding-top: 10rem;
  }
}

.overlay {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0, 0.126);
  backdrop-filter: blur(5px);
}

.sign-in-mode {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  top: 0%;
  left: 0%;

  background: rgb(0, 0, 0, 0.126);
  backdrop-filter: blur(15px);
  transition: 500ms ease-in-out;
}

.container h3 {
  width: 100%;
  color: #66fdad;
  background-image: -webkit-radial-gradient(
    closest-side,
    #0b7755 54%,
    #66fdad 20%,
    #0b7755 51%
  );
  -webkit-background-clip: text;
  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.container h1 {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.sign-in-msg {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-top: 0.5em;
}

.hidden {
  display: none;
}

.dark-mode {
  position: absolute;
  width: 10%;
  height: 10%;
  display: grid;
  grid-template-columns: 100%;
  justify-content: right;
  justify-items: right;
  align-items: end;
  bottom: 30%;
  right: 10%;
}

.dark-mode-container {
  width: 50px;
  height: 50px;
  font-size: 15px;
  background: rgba(0, 0, 0, 0.384);
  border-radius: 50%;
  transition: 100ms ease-in-out;
  font-size: 18px;
  display: grid;
  justify-items: center;
  align-items: center;
}

.dark-mode-container i {
  font-size: 27px;
  transition: 600ms ease-in-out;
  cursor: pointer !important;
}

.dark-mode-container:hover i {
  transform: rotate(250deg);
  color: white;
}

.welcome-user-msg-dark-greetings {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 600;
}

.welcome-user-msg-dark-information {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 400;
  word-spacing: 1px;
  letter-spacing: 1px;
}

@media (max-width: 600px) {
  #login {
    display: grid;
    justify-content: center;
    align-content: center;
    padding: 4rem 1rem 0 !important;
  }

  .welcome-user-msg .greetings {
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 600;
  }

  .information {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    word-spacing: 1px;
    letter-spacing: 1px;
  }

  .pin {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 22px);
    justify-content: center;
    margin: 2em 0 1em;
  }

  .pin input {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    border-width: 0;
    cursor: pointer;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.384);
  }

  .pin-digits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 10px;
    margin-top: 2em;
  }

  .dark-mode {
    position: absolute;
    width: 10%;
    height: 10%;
    display: grid;
    grid-template-columns: 100%;
    justify-content: right;
    justify-items: right;
    align-items: end;
    bottom: 40%;
    right: 2%;
  }

  .dark-mode-container {
    width: 40px;
    height: 40px;
    font-size: 15px;
    background: rgba(0, 0, 0, 0.384);
    border-radius: 50%;
    transition: 100ms ease-in-out;
    font-size: 18px;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .dark-mode-container i {
    font-size: 20px;
    transition: 600ms ease-in-out;
    cursor: pointer !important;
  }

  .dark-mode-container:hover i {
    transform: rotate(0deg);
    color: #000;
  }
}
